Repository olestole/Programvareutvikling-prosjektoppgave: changes, and which GitLab CI jobs are due for each by the changed paths.
All: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now, lint_black-backend, lint_flake8-backend, test-backend

setup-frontend:
  image: node:13
  before_script:
  - apt-get update -qy
  - apt-get install -y yarn
  - cd frontend
  - yarn
  stage: setup
  script: yarn

lint-frontend:
  image: node:13
  before_script:
  - apt-get update -qy
  - apt-get install -y yarn
  - cd frontend
  - yarn
  stage: test
  script: yarn lint

test-frontend:
  image: node:13
  before_script:
  - apt-get update -qy
  - apt-get install -y yarn
  - cd frontend
  - yarn
  stage: test
  script: yarn test

build-frontend:
  image: node:13
  before_script:
  - apt-get update -qy
  - apt-get install -y yarn
  - cd frontend
  - yarn
  stage: build
  script: yarn build

deploy-frontend_review:
  image: node:13
  before_script:
  - apt-get update -qy
  - apt-get install -y yarn
  - cd frontend
  - yarn
  stage: review
  script:
  - URL=$(./node_modules/.bin/now -S fancyhotell -t $ZEIT_NOW_TOKEN -n fancyhotell --confirm)
  - NOW_URL=$(echo ${URL} | sed s/'http:\/\/'/''/g | sed s/'https:\/\/'//g)
  ...

stop_now:
  image: node:13
  before_script:
  - apt-get update -qy
  - apt-get install -y yarn
  - cd frontend
  - yarn
  stage: review
  script:
  - ./node_modules/.bin/now rm -t $ZEIT_NOW_TOKEN -y $CI_BUILD_REF_SLUG
  when: manual
  environment:
    name: review/$CI_BUILD_REF_NAME
    action: stop

lint_black-backend:
  image: python:3.7
  before_script:
  - cd backend
  - pip install -r requirements/dev.txt
  stage: test
  script:
  - black --check fancyhotell

lint_flake8-backend:
  image: python:3.7
  before_script:
  - cd backend
  - pip install -r requirements/dev.txt
  stage: test
  script:
  - flake8

test-backend:
  image: python:3.7
  before_script:
  - cd backend
  - pip install -r requirements/dev.txt
  stage: test
  script:
  - pytest

fix styling and linting issues
  frontend/src/components/RoomEditor.js
  frontend/src/pages/admin/rooms/new.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Add LICENSE
  LICENSE
Due: none

Add tests for pages
  frontend/.gitignore
  frontend/jest.config.js
  frontend/package.json
  frontend/src/test/avatar.test.js
  frontend/src/test/datepicker.test.js
  frontend/src/test/findroom.test.js
  frontend/src/test/pages.test.js
  frontend/yarn.lock
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Add issue templates
  .gitlab/issue_templates/bug-report.md
  .gitlab/issue_templates/enhancement.md
Due: none

update the frontend README.md
  frontend/README.md
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

fix file path causing build error
  frontend/src/components/rooms/RoomEditor.js
  frontend/src/pages/admin/rooms/new.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Hopefully fix room edit
  backend/README.md
  backend/fancyhotell/rooms/models.py
  backend/fancyhotell/rooms/serializers.py
  backend/fancyhotell/rooms/views.py
Due: lint_black-backend, lint_flake8-backend, test-backend

Add page to book rooms
  frontend/src/components/bookRoom/index.js
  frontend/src/components/home/Numberselect.js
  frontend/src/components/rooms/RoomDetail.js
  frontend/src/pages/rooms/book.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Fix final user booking
  frontend/src/components/bookRoom/index.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

fix room edit & user staff
  backend/fancyhotell/rooms/migrations/0004_auto_20200409_1339.py
  backend/fancyhotell/rooms/models.py
  backend/fancyhotell/rooms/serializers.py
  backend/fancyhotell/users/serializers.py
Due: lint_black-backend, lint_flake8-backend, test-backend

Add /me api route to get user info
  backend/fancyhotell/users/views.py
Due: lint_black-backend, lint_flake8-backend, test-backend

allow edits on rooms
  frontend/src/components/admin/BookedRoomList.js
  frontend/src/components/admin/RoomEditor.js
  frontend/src/components/shared/SideDrawer.js
  frontend/src/components/shared/UserProvider.js
  frontend/src/pages/admin/rooms/index.js
  frontend/src/pages/admin/rooms/new.js
  frontend/src/utils/api.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

update root README
  README.md
  frontend/README.md
  frontend/public/FancyHotell02.png
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

change user-api to call users/me
  frontend/src/components/shared/SideDrawer.js
  frontend/src/pages/admin/rooms/index.js
  frontend/src/utils/api.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Edit README
  README.md
  backend/README.md
Due: lint_black-backend, lint_flake8-backend, test-backend

Move READMEs to one file
  README.md
  backend/README.md
  backend/fancyhotell/rooms/fixtures/room_fixtures.yaml
  frontend/README.md
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now, lint_black-backend, lint_flake8-backend, test-backend

Edit readme
  README.md
Due: none

Add dependencies for setup
  README.md
Due: none

Path conditions:
  setup-frontend: any of: frontend/**/*
  lint-frontend: any of: frontend/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*
  deploy-frontend_review: any of: frontend/**/*
  stop_now: any of: frontend/**/*
  lint_black-backend: any of: backend/**/*
  lint_flake8-backend: any of: backend/**/*
  test-backend: any of: backend/**/*
