Repository olestole/Programvareutvikling-prosjektoppgave: changes, and which GitLab CI jobs are due for each by the changed paths.
All: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now, lint_black-backend, lint_flake8-backend, test-backend

setup-frontend:
  image: node:13
  before_script:
  - apt-get update -qy
  - apt-get install -y yarn
  - cd frontend
  - yarn
  stage: setup
  script: yarn

lint-frontend:
  image: node:13
  before_script:
  - apt-get update -qy
  - apt-get install -y yarn
  - cd frontend
  - yarn
  stage: test
  script: yarn lint

test-frontend:
  image: node:13
  before_script:
  - apt-get update -qy
  - apt-get install -y yarn
  - cd frontend
  - yarn
  stage: test
  script: yarn test

build-frontend:
  image: node:13
  before_script:
  - apt-get update -qy
  - apt-get install -y yarn
  - cd frontend
  - yarn
  stage: build
  script: yarn build

deploy-frontend_review:
  image: node:13
  before_script:
  - apt-get update -qy
  - apt-get install -y yarn
  - cd frontend
  - yarn
  stage: review
  script:
  - URL=$(./node_modules/.bin/now -S fancyhotell -t $ZEIT_NOW_TOKEN -n fancyhotell --confirm)
  - NOW_URL=$(echo ${URL} | sed s/'http:\/\/'/''/g | sed s/'https:\/\/'//g)
  ...

stop_now:
  image: node:13
  before_script:
  - apt-get update -qy
  - apt-get install -y yarn
  - cd frontend
  - yarn
  stage: review
  script:
  - ./node_modules/.bin/now rm -t $ZEIT_NOW_TOKEN -y $CI_BUILD_REF_SLUG
  when: manual
  environment:
    name: review/$CI_BUILD_REF_NAME
    action: stop

lint_black-backend:
  image: python:3.7
  before_script:
  - cd backend
  - pip install -r requirements/dev.txt
  stage: test
  script:
  - black --check fancyhotell

lint_flake8-backend:
  image: python:3.7
  before_script:
  - cd backend
  - pip install -r requirements/dev.txt
  stage: test
  script:
  - flake8

test-backend:
  image: python:3.7
  before_script:
  - cd backend
  - pip install -r requirements/dev.txt
  stage: test
  script:
  - pytest

Enclose env variables in strings & change heroku deploy method.
  .gitlab-ci.yml
Due: none

Use ruby image for CI because of inconcistency in IDIs gitlab runners.
  .gitlab-ci.yml
  frontend/.eslintrc.json
  frontend/next.config.js
  frontend/src/pages/rooms.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Add booking view, token authentication and initial permissions
  backend/fancyhotell/rooms/admin.py
  backend/fancyhotell/rooms/migrations/0004_booking_people.py
  backend/fancyhotell/rooms/models.py
  backend/fancyhotell/rooms/permissions.py
  backend/fancyhotell/rooms/serializers.py
  backend/fancyhotell/rooms/views.py
  backend/fancyhotell/settings.py
  backend/fancyhotell/urls.py
  backend/fancyhotell/users/migrations/0001_initial.py
  backend/requirements/base.txt
Due: lint_black-backend, lint_flake8-backend, test-backend

Secret harbour testing
  backend/fancyhotell/settings.py
Due: lint_black-backend, lint_flake8-backend, test-backend

Finish create booking logic and booking viewset
  backend/fancyhotell/rooms/errors.py
  backend/fancyhotell/rooms/migrations/0002_auto_20200217_2057.py
  backend/fancyhotell/rooms/migrations/0003_auto_20200219_1315.py
  backend/fancyhotell/rooms/migrations/0004_booking_people.py
  backend/fancyhotell/rooms/models.py
  backend/fancyhotell/rooms/permissions.py
  backend/fancyhotell/rooms/serializers.py
  backend/fancyhotell/rooms/views.py
  backend/fancyhotell/users/migrations/0001_initial.py
  backend/fancyhotell/users/serializers.py
Due: lint_black-backend, lint_flake8-backend, test-backend

API URL not KEY
  .gitlab-ci.yml
  frontend/next.config.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

add test dependencies
  frontend/package.json
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

add setup files for testing
  frontend/.babelrc
  frontend/config/jest/cssTransform.js
  frontend/jest.config.js
  frontend/setupTests.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

add test for bookbutton component
  frontend/src/test/bookbutton.test.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

fix linting issues with test config files
  frontend/.eslintignore
  frontend/.prettierignore
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

change --watch to --watchAll
  frontend/package.json
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

fix package.json again
  frontend/package.json
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

add tests for smaller components
  frontend/src/test/avatar.test.js
  frontend/src/test/datepicker.test.js
  frontend/src/test/findroom.test.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

add fix for linting issue
  frontend/package.json
  frontend/src/test/findroom.test.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

fix text
  frontend/setupTests.js
  frontend/src/test/bookbutton.test.js
  frontend/src/test/datepicker.test.js
  frontend/src/test/findroom.test.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

add snapshot-test for frontpage
  frontend/src/test/index.test.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Fix wrong api urls
  .gitlab-ci.yml
Due: none

remove bookbutton test
  frontend/src/test/bookbutton.test.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Add sourcemaps to frontend & cors headers to backend responses
  .gitlab-ci.yml
  backend/fancyhotell/settings.py
  backend/requirements/base.txt
  frontend/.eslintrc.json
  frontend/next.config.js
  frontend/package.json
  frontend/yarn.lock
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now, lint_black-backend, lint_flake8-backend, test-backend

Make LoginForm more readable by making a designated ternary function 'renderRegister'
  frontend/src/components/LoginForm.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Add context to the custom _app.js and use it to set custom Avatar when 'logged in'
  frontend/src/components/Avatar.js
  frontend/src/components/LoginForm.js
  frontend/src/components/Navbar.js
  frontend/src/components/UserProvider.js
  frontend/src/pages/_app.js
  frontend/src/pages/_document.js
  frontend/utils/fetcher.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Update context with username, accessToken and refreshToken on login
  frontend/src/components/BookButton.js
  frontend/src/components/Datepicker.js
  frontend/src/components/FindRoom.js
  frontend/src/components/LoginForm.js
  frontend/src/components/Navbar.js
  frontend/src/components/Numberselect.js
  frontend/src/components/UserProvider.js
  frontend/src/pages/index.js
  frontend/src/pages/rooms/[id].js
  frontend/src/pages/rooms/index.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Set Avatar based on context.user.loggedIn to reflect if logged in or not
  frontend/config/env.js
  frontend/src/components/LoginForm.js
  frontend/src/components/Navbar.js
  frontend/src/pages/rooms/[id].js
  frontend/src/pages/rooms/index.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Fix redirect from /login
  frontend/src/components/LoginForm.js
  frontend/src/components/Navbar.js
  frontend/utils/loginRedirect.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Fix API-call with env-variable
  frontend/config/env.js
  frontend/src/components/LoginForm.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

add Sidebar
  frontend/src/components/Navbar.js
  frontend/src/components/SideDrawer.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Remove login-option when loggedIn
  frontend/.eslintrc.json
  frontend/src/components/LoginForm.js
  frontend/src/components/Navbar.js
  frontend/src/components/SideDrawer.js
  frontend/utils/loginRedirect.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Pass state as query params to /rooms in order to filter
  frontend/src/components/Datepicker.js
  frontend/src/components/FindRoom.js
  frontend/src/components/LoginForm.js
  frontend/src/components/Numberselect.js
  frontend/src/components/RegisterUser.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Make calendar-comp stateful and implement simple conditional validation based on selected dates. Add logo
  frontend/src/components/Datepicker.js
  frontend/src/components/FindRoom.js
  frontend/src/components/LoginForm.js
  frontend/src/components/Navbar.js
  frontend/src/components/RegisterUser.js
  frontend/src/components/SideDrawer.js
  frontend/utils/fetcher.js
  frontend/utils/request.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Get MR ready for master
  frontend/.gitignore
  frontend/src/pages/index.js
  frontend/src/test/index.test.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Add custom user viewset, serializer and model
  backend/fancyhotell/rooms/views.py
  backend/fancyhotell/settings.py
  backend/fancyhotell/urls.py
  backend/fancyhotell/users/admin.py
  backend/fancyhotell/users/models.py
  backend/fancyhotell/users/permissions.py
  backend/fancyhotell/users/serializers.py
  backend/fancyhotell/users/views.py
Due: lint_black-backend, lint_flake8-backend, test-backend

Delete migrations and create new ones
  backend/fancyhotell/rooms/migrations/0001_initial.py
  backend/fancyhotell/rooms/migrations/0002_auto_20200301_1726.py
  backend/fancyhotell/rooms/migrations/0003_auto_20200219_1315.py
  backend/fancyhotell/rooms/migrations/0004_booking_people.py
  backend/fancyhotell/rooms/views.py
  backend/fancyhotell/settings.py
  backend/fancyhotell/users/admin.py
  backend/fancyhotell/users/migrations/0001_initial.py
  backend/fancyhotell/users/models.py
  backend/fancyhotell/users/permissions.py
  backend/fancyhotell/users/serializers.py
  backend/fancyhotell/users/views.py
Due: lint_black-backend, lint_flake8-backend, test-backend

Fix bug in registerUser
  frontend/src/components/FindRoom.js
  frontend/src/components/LoginForm.js
  frontend/src/components/RegisterUser.js
  frontend/src/components/Room.js
  frontend/src/components/UserProvider.js
  frontend/src/pages/booking.js
  frontend/src/pages/login.js
  frontend/src/pages/rooms/index.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Fix user registration phone issue
  backend/fancyhotell/rooms/migrations/0002_auto_20200301_1726.py
  backend/fancyhotell/users/migrations/0001_initial.py
  backend/fancyhotell/users/serializers.py
  backend/fancyhotell/users/views.py
Due: lint_black-backend, lint_flake8-backend, test-backend

Fix registered user customer
  backend/fancyhotell/rooms/views.py
Due: lint_black-backend, lint_flake8-backend, test-backend

Allow a user to book a room
  frontend/src/components/BookingInfo.js
  frontend/src/components/FindRoom.js
  frontend/src/components/LoginForm.js
  frontend/src/components/Navbar.js
  frontend/src/components/RegisterUser.js
  frontend/src/components/Room.js
  frontend/src/components/UserProvider.js
  frontend/src/pages/booking.js
  frontend/src/pages/rooms/index.js
  frontend/utils/request.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

BugFix
  frontend/src/components/LoginForm.js
  frontend/src/components/RegisterUser.js
  frontend/src/components/Room.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Fix some styles and registration flow
  frontend/src/components/BookingInfo.js
  frontend/src/components/LoginForm.js
  frontend/src/components/Navbar.js
  frontend/src/components/RegisterUser.js
  frontend/src/components/Room.js
  frontend/src/pages/booking.js
  frontend/src/pages/rooms/index.js
  frontend/src/utils/api.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Add a layout component
  frontend/src/components/Layout.js
  frontend/src/pages/_app.js
  frontend/src/pages/index.js
  frontend/utils/request.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Add Layout to every page
  frontend/public/Hotelroom.jpg
  frontend/public/building.jpg
  frontend/src/components/Layout.js
  frontend/src/components/Navbar.js
  frontend/src/components/Room.js
  frontend/src/components/Roomlist.js
  frontend/src/pages/_app.js
  frontend/src/pages/booking.js
  frontend/src/pages/index.js
  frontend/src/pages/login.js
  frontend/src/pages/rooms/index.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Path conditions:
  setup-frontend: any of: frontend/**/*
  lint-frontend: any of: frontend/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*
  deploy-frontend_review: any of: frontend/**/*
  stop_now: any of: frontend/**/*
  lint_black-backend: any of: backend/**/*
  lint_flake8-backend: any of: backend/**/*
  test-backend: any of: backend/**/*
