Repository olestole/Programvareutvikling-prosjektoppgave: changes, and which GitLab CI jobs are due for each by the changed paths.
All: setup-frontend, lint-frontend, test-frontend, build-frontend, setup_backend, lint_backend, test_backend

setup-frontend:
  image: node:13
  stage: setup
  script:
  - apt-get update -qy
  - apt-get install -y yarn
  - cd frontend
  - yarn

lint-frontend:
  image: node:13
  stage: test
  script: yarn lint

test-frontend:
  image: node:13
  stage: test
  script: yarn test

build-frontend:
  image: node:13
  stage: build
  script: yarn build

setup_backend:
  image: python:3.7
  stage: setup
  script:
  - apt-get update -qy
  - apt-get install -y python-dev python-pip
  - cd backend
  - pip install -r requirements.txt

lint_backend:
  image: python:3.7
  stage: test
  script:
  - black --check fancyhotell
  - flake8

test_backend:
  image: python:3.7
  stage: test
  script:
  - pytest

Improve environment naming & set gitlab to show now deploy url
  .gitlab-ci.yml
Due: none

Finish eslint setup
  frontend/.eslintrc.json
  frontend/.prettierignore
  frontend/README.md
  frontend/package.json
  frontend/src/components/Layout.js
  frontend/src/pages/index.js
  frontend/src/pages/rooms.js
  frontend/yarn.lock
Due: setup-frontend, lint-frontend, test-frontend, build-frontend

Fix pipeline job templates
  .gitlab-ci.yml
  frontend/package.json
Due: setup-frontend, lint-frontend, test-frontend, build-frontend

Remove empty page files
  frontend/src/pages/booking.js
  frontend/src/pages/confirmation.js
  frontend/src/pages/login.js
  frontend/src/pages/rooms.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend

Fix now deployments
  .gitlab-ci.yml
  frontend/.gitignore
Due: setup-frontend, lint-frontend, test-frontend, build-frontend

Add initial django project files
  backend/.flake8
  backend/.gitignore
  backend/README.md
  backend/fancyhotell/__init__.py
  backend/fancyhotell/asgi.py
  backend/fancyhotell/settings.py
  backend/fancyhotell/urls.py
  backend/fancyhotell/users/__init__.py
  backend/fancyhotell/users/admin.py
  backend/fancyhotell/users/apps.py
  backend/fancyhotell/users/migrations/__init__.py
  backend/fancyhotell/users/models.py
  backend/fancyhotell/users/serializers.py
  backend/fancyhotell/users/tests.py
  backend/fancyhotell/users/views.py
  backend/fancyhotell/wsgi.py
  backend/manage.py
  backend/requirements/base.txt
  backend/requirements/dev.txt
Due: setup_backend, lint_backend, test_backend

Add pytest & fix pipeline requirements
  .gitlab-ci.yml
  backend/requirements/base.txt
  backend/requirements/dev.txt
Due: setup_backend, lint_backend, test_backend

Configure pytest
  backend/.flake8
  backend/fancyhotell/users/apps.py
  backend/fancyhotell/users/tests.py
  backend/placeholder.test.py
  backend/pytest.ini
Due: setup_backend, lint_backend, test_backend

Add a custom Document file for Next and add M-UI/icons
  frontend/package.json
  frontend/src/components/Navbar.js
  frontend/src/pages/_document.js
  frontend/src/pages/index.js
  frontend/yarn.lock
Due: setup-frontend, lint-frontend, test-frontend, build-frontend

Update the README.md
  frontend/README.md
Due: setup-frontend, lint-frontend, test-frontend, build-frontend

Add Procfile and gunicorn for heroku
  backend/Procfile
  backend/fancyhotell/settings.py
  backend/fancyhotell/urls.py
  backend/requirements.txt
  backend/requirements/base.txt
Due: setup_backend, lint_backend, test_backend

Change deploy to heroku to git subtree & add DB config
  .gitlab-ci.yml
  backend/Procfile
  backend/fancyhotell/settings.py
  backend/requirements/base.txt
Due: setup_backend, lint_backend, test_backend

Add booking component on the index.js page
  frontend/package.json
  frontend/src/components/Avatar.js
  frontend/src/components/BookButton.js
  frontend/src/components/Datepicker.js
  frontend/src/components/FindRoom.js
  frontend/src/components/Homepage.js
  frontend/src/components/Navbar.js
  frontend/src/components/Numberselect.js
  frontend/src/pages/index.js
  frontend/src/pages/login.js
  frontend/static/NewYork.jpg
  frontend/yarn.lock
Due: setup-frontend, lint-frontend, test-frontend, build-frontend

Add backgroundpicture
  frontend/next.config.js
  frontend/package.json
  frontend/src/components/Avatar.js
  frontend/src/components/BookButton.js
  frontend/src/components/FindRoom.js
  frontend/src/components/Homepage.js
  frontend/src/components/Layout.js
  frontend/src/components/Navbar.js
  frontend/src/pages/index.js
  frontend/yarn.lock
Due: setup-frontend, lint-frontend, test-frontend, build-frontend

Add node to eslintrc env
  frontend/src/components/BookButton.js
  frontend/src/pages/rooms.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend

Add documentation engines and index page
  backend/fancyhotell/settings.py
  backend/fancyhotell/templates/index.html
  backend/fancyhotell/urls.py
  backend/placeholder.test.py
  backend/requirements/base.txt
Due: setup_backend, lint_backend, test_backend

Add rooms app
  backend/.flake8
  backend/fancyhotell/rooms/__init__.py
  backend/fancyhotell/rooms/admin.py
  backend/fancyhotell/rooms/apps.py
  backend/fancyhotell/rooms/migrations/__init__.py
  backend/fancyhotell/rooms/models.py
  backend/fancyhotell/rooms/tests.py
  backend/fancyhotell/rooms/views.py
  backend/fancyhotell/settings.py
Due: setup_backend, lint_backend, test_backend

Add tests RENAME ME
  backend/fancyhotell/rooms/tests/test_api.py
Due: setup_backend, lint_backend, test_backend

Fix backgroundImage properties
  frontend/next.config.js
  frontend/public/NewYork.jpg
  frontend/src/components/BookButton.js
  frontend/src/components/Datepicker.js
  frontend/src/components/FindRoom.js
  frontend/src/components/Numberselect.js
  frontend/src/pages/index.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend

Add frontend for login and registration under /login
  frontend/public/NewYork2.jpg
  frontend/src/components/FindRoom.js
  frontend/src/components/LoginForm.js
  frontend/src/components/Navbar.js
  frontend/src/components/ParentHook.js
  frontend/src/components/RegisterUser.js
  frontend/src/pages/_document.js
  frontend/src/pages/index.js
  frontend/src/pages/login.js
  frontend/src/pages/login/index.js
  frontend/src/pages/login/register.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend

Fix bug in last commit
  frontend/src/components/ParentHook.js
  frontend/src/components/RegisterUser.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend

Fix bug in last commit
  frontend/src/pages/login.js
  frontend/src/pages/login/register.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend

[front-end]Added room component and roomlist component from MaterialUI
  frontend/public/building.jpg
  frontend/src/components/Room.js
  frontend/src/components/Roomlist.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend

Add initial models, views and serializers for rooms & users
  backend/fancyhotell/rooms/admin.py
  backend/fancyhotell/rooms/fixtures/room_fixtures.yaml
  backend/fancyhotell/rooms/migrations/0001_initial.py
  backend/fancyhotell/rooms/migrations/0002_auto_20200217_2057.py
  backend/fancyhotell/rooms/models.py
  backend/fancyhotell/rooms/serializers.py
  backend/fancyhotell/rooms/tests.py
  backend/fancyhotell/rooms/tests/test_api.py
  backend/fancyhotell/rooms/views.py
  backend/fancyhotell/templates/index.html
  backend/fancyhotell/urls.py
  backend/fancyhotell/users/migrations/0001_initial.py
  backend/fancyhotell/users/models.py
  backend/requirements/base.txt
Due: setup_backend, lint_backend, test_backend

[front-end] added comments to Room.js and Roomlist.js
  frontend/src/components/Room.js
  frontend/src/components/Roomlist.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend

added _document.js to fix materialUI css hook
  frontend/src/pages/_document.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend

[front-end]Remade roomlist with different card composition
  frontend/src/components/Room.js
  frontend/src/components/Roomlist.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend

fixed linting in some files
  frontend/src/components/Room.js
  frontend/src/components/Roomlist.js
  frontend/src/pages/rooms.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend

[front-end] added rooms.js
  frontend/src/pages/rooms.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend

Change components to use const
  frontend/src/components/Room.js
  frontend/src/components/Roomlist.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend

Add listitems to card container
  frontend/src/components/Room.js
  frontend/src/components/Roomlist.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend

Fix linting
  frontend/src/components/Room.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend

Fix deployment for backend in CI
  .gitlab-ci.yml
Due: none

Add booking view & serializers
  backend/fancyhotell/rooms/errors.py
  backend/fancyhotell/rooms/migrations/0003_auto_20200219_1315.py
  backend/fancyhotell/rooms/models.py
  backend/fancyhotell/rooms/serializers.py
  backend/fancyhotell/rooms/views.py
  backend/fancyhotell/settings.py
  backend/fancyhotell/users/serializers.py
  backend/requirements/base.txt
Due: setup_backend, lint_backend, test_backend

Fix available rooms method
  backend/fancyhotell/rooms/models.py
Due: setup_backend, lint_backend, test_backend

Load fixtures when running tests
  backend/conftest.py
  backend/fancyhotell/rooms/migrations/0001_initial.py
  backend/fancyhotell/rooms/migrations/0002_auto_20200217_2057.py
  backend/fancyhotell/rooms/migrations/0003_auto_20200219_1315.py
  backend/fancyhotell/rooms/tests/test_api.py
  backend/fancyhotell/users/migrations/0001_initial.py
Due: setup_backend, lint_backend, test_backend

Connect with backend
  frontend/.eslintrc.json
  frontend/config/env.js
  frontend/package.json
  frontend/src/components/Room.js
  frontend/src/components/Roomlist.js
  frontend/src/pages/rooms.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend

Add git subtree to backend deploy pipeline
  .gitlab-ci.yml
Due: none

Add api url to frontend deployments
  .gitlab-ci.yml
Due: none

Enclose env variables in strings & ignore git remote fail
  .gitlab-ci.yml
Due: none

Path conditions:
  setup-frontend: any of: frontend/**/*
  lint-frontend: any of: frontend/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*
  setup_backend: any of: backend/**/*
  lint_backend: any of: backend/**/*
  test_backend: any of: backend/**/*
