Repository olestole/Programvareutvikling-prosjektoppgave: changes, and which GitLab CI jobs are due for each by the changed paths.
All: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now, lint_black-backend, lint_flake8-backend, test-backend

setup-frontend:
  image: node:13
  before_script:
  - apt-get update -qy
  - apt-get install -y yarn
  - cd frontend
  - yarn
  stage: setup
  script: yarn

lint-frontend:
  image: node:13
  before_script:
  - apt-get update -qy
  - apt-get install -y yarn
  - cd frontend
  - yarn
  stage: test
  script: yarn lint

test-frontend:
  image: node:13
  before_script:
  - apt-get update -qy
  - apt-get install -y yarn
  - cd frontend
  - yarn
  stage: test
  script: yarn test

build-frontend:
  image: node:13
  before_script:
  - apt-get update -qy
  - apt-get install -y yarn
  - cd frontend
  - yarn
  stage: build
  script: yarn build

deploy-frontend_review:
  image: node:13
  before_script:
  - apt-get update -qy
  - apt-get install -y yarn
  - cd frontend
  - yarn
  stage: review
  script:
  - URL=$(./node_modules/.bin/now -S fancyhotell -t $ZEIT_NOW_TOKEN -n fancyhotell --confirm)
  - NOW_URL=$(echo ${URL} | sed s/'http:\/\/'/''/g | sed s/'https:\/\/'//g)
  ...

stop_now:
  image: node:13
  before_script:
  - apt-get update -qy
  - apt-get install -y yarn
  - cd frontend
  - yarn
  stage: review
  script:
  - ./node_modules/.bin/now rm -t $ZEIT_NOW_TOKEN -y $CI_BUILD_REF_SLUG
  when: manual
  environment:
    name: review/$CI_BUILD_REF_NAME
    action: stop

lint_black-backend:
  image: python:3.7
  before_script:
  - cd backend
  - pip install -r requirements/dev.txt
  stage: test
  script:
  - black --check fancyhotell

lint_flake8-backend:
  image: python:3.7
  before_script:
  - cd backend
  - pip install -r requirements/dev.txt
  stage: test
  script:
  - flake8

test-backend:
  image: python:3.7
  before_script:
  - cd backend
  - pip install -r requirements/dev.txt
  stage: test
  script:
  - pytest

Add filtering on date and room capacity
  backend/fancyhotell/rooms/models.py
  backend/fancyhotell/rooms/views.py
  frontend/src/pages/rooms/index.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now, lint_black-backend, lint_flake8-backend, test-backend

Fix validation for dates so that every query param is in the correct format
  frontend/src/components/Datepicker.js
  frontend/src/components/FindRoom.js
  frontend/src/components/Roomlist.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Add basic validation for quantity
  frontend/src/components/FindRoom.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Add context to page components as prop
  frontend/src/components/Layout.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

add loading indicator to login- and register components
  frontend/package.json
  frontend/src/components/FindRoom.js
  frontend/src/components/Layout.js
  frontend/src/components/LoadingSpinner.js
  frontend/src/components/LoginForm.js
  frontend/src/components/RegisterUser.js
  frontend/src/utils/api.js
  frontend/yarn.lock
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

add feedback when trying to add a already existing email, or not finding user during login
  frontend/package.json
  frontend/src/components/ErrorMsg.js
  frontend/src/components/RegisterUser.js
  frontend/src/utils/api.js
  frontend/yarn.lock
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

add rerouting to the correct room-query-page when user tries booking without being logged in
  frontend/src/components/FindRoom.js
  frontend/src/components/LoginForm.js
  frontend/src/components/RegisterUser.js
  frontend/src/components/Room.js
  frontend/src/pages/login.js
  frontend/src/utils/api.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

refactor some fetch-requests using /config/api
  frontend/src/components/RegisterUser.js
  frontend/src/components/Room.js
  frontend/src/pages/login.js
  frontend/src/utils/api.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Add user replacement component
  .gitlab-ci.yml
  frontend/package.json
  frontend/src/components/BookingDetail/index.js
  frontend/src/components/Layout.js
  frontend/src/components/LoginForm.js
  frontend/src/components/SideDrawer.js
  frontend/src/pages/_app.js
  frontend/src/pages/_document.js
  frontend/src/pages/login.js
  frontend/src/pages/user/index.js
  frontend/src/utils/api.js
  frontend/src/utils/requireLogin.js
  frontend/yarn.lock
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Add page for active bookings
  backend/fancyhotell/rooms/permissions.py
  backend/fancyhotell/rooms/serializers.py
  backend/fancyhotell/rooms/views.py
  backend/fancyhotell/settings.py
  frontend/package.json
  frontend/src/components/BookingDetail/index.js
  frontend/src/components/Layout.js
  frontend/src/components/LoginForm.js
  frontend/src/components/Room.js
  frontend/src/components/Roomlist.js
  frontend/src/components/SideDrawer.js
  frontend/src/pages/index.js
  frontend/src/pages/login.js
  frontend/src/pages/rooms/index.js
  frontend/src/pages/user/index.js
  frontend/src/utils/api.js
  frontend/src/utils/withLogin.js
  frontend/yarn.lock
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now, lint_black-backend, lint_flake8-backend, test-backend

Fix booking cancel permission & styling
  backend/fancyhotell/rooms/permissions.py
  frontend/src/components/BookingDetail/index.js
  frontend/src/pages/user/index.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now, lint_black-backend, lint_flake8-backend, test-backend

Add logout functionalty
  frontend/package.json
  frontend/src/components/Layout.js
  frontend/src/components/LoginForm.js
  frontend/src/components/Navbar.js
  frontend/src/components/UserProvider.js
  frontend/src/utils/api.js
  frontend/src/utils/withLogin.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Add adminview of roomlist
  backend/fancyhotell/rooms/serializers.py
  backend/fancyhotell/rooms/views.py
  backend/fancyhotell/urls.py
Due: lint_black-backend, lint_flake8-backend, test-backend

Remove console.logs
  frontend/package.json
  frontend/src/components/RegisterUser.js
  frontend/src/components/UserProvider.js
  frontend/src/pages/login.js
  frontend/src/pages/rooms/index.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Remove duplicate class from views.py
  backend/fancyhotell/rooms/views.py
Due: lint_black-backend, lint_flake8-backend, test-backend

Add room detail page
  backend/fancyhotell/rooms/serializers.py
  frontend/package.json
  frontend/src/components/BookingDetail/index.js
  frontend/src/components/Layout.js
  frontend/src/components/Navbar.js
  frontend/src/components/NotFound.js
  frontend/src/components/RoomDetail.js
  frontend/src/components/Roomlist.js
  frontend/src/pages/_app.js
  frontend/src/pages/_document.js
  frontend/src/pages/rooms/[id].js
  frontend/src/utils/api.js
  frontend/src/utils/withLogin.js
  frontend/yarn.lock
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now, lint_black-backend, lint_flake8-backend, test-backend

Remove unused code
  frontend/src/components/RoomDetail.js
  frontend/src/components/Roomlist.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Add room detail page
  frontend/src/components/RoomDetail.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Imlement amenities in backend
  backend/fancyhotell/rooms/fixtures/room_fixtures.yaml
  backend/fancyhotell/rooms/migrations/0003_auto_20200316_2203.py
  backend/fancyhotell/rooms/models.py
  backend/fancyhotell/rooms/serializers.py
  backend/fancyhotell/rooms/views.py
  frontend/src/components/RegisterUser.js
  frontend/src/components/RoomDetail.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now, lint_black-backend, lint_flake8-backend, test-backend

Add filtering on amenities
  backend/fancyhotell/rooms/filters.py
  backend/fancyhotell/rooms/serializers.py
  backend/fancyhotell/rooms/views.py
  backend/fancyhotell/settings.py
  frontend/src/components/Layout.js
  frontend/src/components/Roomlist.js
  frontend/src/pages/_app.js
  frontend/src/pages/index.js
  frontend/src/pages/rooms/index.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now, lint_black-backend, lint_flake8-backend, test-backend

Fix typos
  backend/fancyhotell/rooms/models.py
  frontend/src/components/Roomlist.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now, lint_black-backend, lint_flake8-backend, test-backend

add user update
  backend/fancyhotell/users/serializers.py
Due: lint_black-backend, lint_flake8-backend, test-backend

fix error with updating data
  backend/fancyhotell/users/serializers.py
  backend/fancyhotell/users/views.py
Due: lint_black-backend, lint_flake8-backend, test-backend

add put method in api.js and start implementing functionality in RoomEditor.js
  frontend/src/components/RoomEditor.js
  frontend/src/pages/admin/rooms/new.js
  frontend/src/utils/api.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

fix error handling for http bad request
  frontend/src/components/RoomEditor.js
  frontend/src/utils/api.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

add withLogin to admin/new.js
  frontend/src/pages/admin/rooms/new.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Complete functionality to add new rooms
  backend/fancyhotell/rooms/views.py
  frontend/src/components/RoomEditor.js
  frontend/src/pages/admin/rooms/new.js
  frontend/src/utils/api.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now, lint_black-backend, lint_flake8-backend, test-backend

change to a more readable file system
  frontend/src/components/booking/BookingInfo.js
  frontend/src/components/home/Datepicker.js
  frontend/src/components/home/FindRoom.js
  frontend/src/components/home/Numberselect.js
  frontend/src/components/login/LoginForm.js
  frontend/src/components/login/RegisterUser.js
  frontend/src/components/rooms/RoomDetail.js
  frontend/src/components/rooms/Roomlist.js
  frontend/src/components/shared/Avatar.js
  frontend/src/components/shared/ErrorMsg.js
  frontend/src/components/shared/Layout.js
  frontend/src/components/shared/LoadingSpinner.js
  frontend/src/components/shared/Navbar.js
  frontend/src/components/shared/NotFound.js
  frontend/src/components/shared/SideDrawer.js
  frontend/src/components/shared/UserProvider.js
  frontend/src/components/user/BookingDetail.js
  frontend/src/pages/_app.js
  frontend/src/pages/booking/index.js
  frontend/src/pages/index.js
  frontend/src/pages/login/index.js
  frontend/src/pages/rooms/[id].js
  frontend/src/pages/rooms/index.js
  frontend/src/pages/user/index.js
  frontend/src/test/avatar.test.js
  frontend/src/test/datepicker.test.js
  frontend/src/test/findroom.test.js
  frontend/src/utils/requireLogin.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Add a bunch of tests
  backend/.coverage
  backend/conftest.py
  backend/fancyhotell/rooms/errors.py
  backend/fancyhotell/rooms/models.py
  backend/fancyhotell/rooms/tests/test_api.py
  backend/fancyhotell/rooms/views.py
  backend/fancyhotell/users/serializers.py
  backend/pytest.ini
  backend/requirements/dev.txt
  backend/tests/test_admin_api.py
  backend/tests/test_api.py
Due: lint_black-backend, lint_flake8-backend, test-backend

Remove old test file & ignore coverage file
  backend/.coverage
  backend/.gitignore
  backend/fancyhotell/users/tests.py
Due: lint_black-backend, lint_flake8-backend, test-backend

update README.md
  frontend/README.md
  frontend/public/FancyHotell01.png
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

add a page to view personal info
  frontend/src/components/UserInfo.js
  frontend/src/pages/myPage.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

add functionality to edit userinfo
  frontend/src/components/UserEditForm.js
  frontend/src/components/UserInfo.js
  frontend/src/pages/myPage.js
  frontend/src/utils/api.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

add props to style Avatar and require login on 'myPage'
  frontend/src/components/UserInfo.js
  frontend/src/components/shared/Avatar.js
  frontend/src/components/shared/SideDrawer.js
  frontend/src/pages/myPage.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

correctly import RequireLogin
  frontend/src/pages/myPage.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

make it possible to edit user info
  frontend/src/components/UserEditForm.js
  frontend/src/components/UserInfo.js
  frontend/src/components/shared/UserProvider.js
  frontend/src/utils/api.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

rebase from the clean-up
  frontend/src/components/shared/SideDrawer.js
  frontend/src/components/userprofile/UserEditForm.js
  frontend/src/components/userprofile/UserInfo.js
  frontend/src/pages/userprofile/index.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now

Fix booking list
  backend/fancyhotell/rooms/views.py
  frontend/src/components/RoomDetail.js
Due: setup-frontend, lint-frontend, test-frontend, build-frontend, deploy-frontend_review, stop_now, lint_black-backend, lint_flake8-backend, test-backend

Path conditions:
  setup-frontend: any of: frontend/**/*
  lint-frontend: any of: frontend/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*
  deploy-frontend_review: any of: frontend/**/*
  stop_now: any of: frontend/**/*
  lint_black-backend: any of: backend/**/*
  lint_flake8-backend: any of: backend/**/*
  test-backend: any of: backend/**/*
